PORT=3000
NODE_ENV=development
# Postgres Config
DB_USER=nest_user
DB_PASSWORD=nest_password
DB_NAME=nest_db
DB_PORT=5432
# Prisma 7 Connection String (uses internal service name 'db')
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?schema=public"